@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
* {
  font-family: "Raleway", sans-serif;
}

section.faqs {
  background: #F7F7F8;
  padding: 150px 0 100px 0;
}

@media screen and (max-width: 480px) {
  section.faqs {
    padding: 300px 0 30px 0;
  }
}

section.faqs .content-container {
  position: relative;
}

section.faqs .faqs-container {
  width: 60%;
  margin-left: auto;
  margin-top: 80px;
}

@media screen and (max-width: 480px) {
  section.faqs .faqs-container {
    width: 100%;
  }
}

section.faqs .faq .title {
  position: relative;
}

section.faqs .faq {
  border-bottom: 1px solid #EAEBED;
  margin-top: 20px;
}

section.faqs .faq .description {
  transform: translateZ(0) translateX(200%);
  transition: transform .3s;
  height: 0;
}

section.faqs .faq.active {
  padding-bottom: 15px;
}

section.faqs .faq.active .description {
  transform: translateZ(0) translateX(0);
  height: auto;
}

section.faqs h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #113F6F;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-transform: none;
  cursor: pointer;
  transition: all .25s ease-in-out;
}

@media screen and (max-width: 480px) {
  section.faqs h2 {
    font-size: 1rem;
  }
}

section.faqs h2:hover {
  color: #99CB50;
}

section.faqs h2:after {
  position: absolute;
  content: '+';
  font-size: 3rem;
  right: 0;
  font-weight: 300;
  color: #99CB50;
  top: -1rem;
  right: 1rem;
}

@media screen and (max-width: 480px) {
  section.faqs h2:after {
    top: -9px;
    right: -9px;
    font-size: 2rem;
  }
}

section.faqs .faq.active h2:after {
  content: '-';
}

section.faqs a {
  color: #99CB50;
  font-weight: 300;
  font-size: 2.5rem;
}

section.faqs p {
  font-weight: 400;
  line-height: 1.4rem;
}

section.faqs ul li {
  font-weight: 400;
  line-height: 1.4rem;
  color: #727176;
  font-family: "Raleway", sans-serif;
  position: relative;
  padding-left: 20px;
}

section.faqs ul li:before {
  content: '';
  background: #99CB50;
  border-radius: 100%;
  width: 5px;
  height: 5px;
  position: absolute;
  left: 5px;
  top: 7px;
}

section.faqs .faqs-image {
  position: absolute;
  width: 50%;
  left: -14%;
}

@media screen and (max-width: 480px) {
  section.faqs .faqs-image {
    width: 80%;
    top: -25%;
  }
}

@media screen and (max-width: 480px) and (min-height: 370px) {
  section.faqs .faqs-image {
    top: -28%;
    width: 60%;
    left: 20%;
  }
}
